@font-face{
	font-family:'bold_font';
	src:url('assets/fonts/boldfont.ttf');
	
}
@font-face{
	font-family:'logo_font';
	src:url('assets/fonts/SpecifyPERSONAL-ConBold.ttf');
}

@font-face{
	font-family:'logo_font1';
	src:url("assets/fonts/Aileron-Light.otf");
}

@font-face{
	font-family:'para_font';
	src:url('assets/fonts/Aileron-Light.otf');
}

@font-face{
	font-family:'fav_font';
	src:url('assets/fonts/one.ttf');
}
@font-face{
	font-family:'good_font';
	src:url('assets/fonts/RobotoCondensed-Light.ttf');
	
}
@font-face{
	font-family:'lato_font';
	src:url('assets/fonts/Lato-Semibold.ttf');
	
}
@font-face{
	font-family:'latobold_font';
	src:url('assets/fonts/Lato-Bold.ttf');
	
}

body{
	background:#E8EAE9;
}
.logo_text{
	font-size:14px;
	font-weight:bold;
	color:#5F5F5F;
	margin:2px 0 10px 5px;
}
.support_para1{
	font-size:16px;
	color:#787878;
	margin:0 0 0 0;
}
 .support_para{
	  font-size:15px;
	  color:#5F5F5F;
	  margin:30px 0 0 0;
 }
.phone_icon{
	 float:left;
	 width:45px;
	 margin:30px 10px 10px 25px;
}
.logo_style{
	width:220px;
	height:70px;
	margin:10px 0 0 10px;
}
.header_part{
	background:#
}
.blue_line{
	background:#055875;
	height:8px;
	margin:10px 0 0 0;
}
.white_part{
	background:#fff;
	min-height:300px;
	padding:50px 50px 20px 60px;
	
}
.submit_head{
	color:#323232;
	font-weight:bold;
	font-size:18px;
}
.request_head{
	color:#252525;
	font-family:'para_font';
	font-size:36px;
}
.how_para{
	color:#7D7D7D;
	font-family:'para_font';
	font-size:28px;
	margin:-10px 0 20px 0;
}
.thank_para{
	color:#3A3A3A;
	font-size:15px;
	margin:10px 0 20px 0;
}

.one_form_part{
	padding:0 0 0 10px;
}
/*===================form part==========*/
.your_details_head{
	color:#323232;
	font-family:'para_font';
	font-size:22px;
	margin:40px 0 0 80px;
	

	
}

.circle_part{
	border-radius:50px;
	border:1px solid #7BB418;
	width:60px;
	height:60px;
	position:relative;
	float:left;
	margin:30px 0 0 0;
}
.number_para{
	color:#3A3A3A;
	font-size:25px;
	margin:10px 0 20px 3px;
	position:absolute;
	left:30%;
	float:left;
}
hr{
	height:1px;
	background:#7BB418;
	margin:0;
}
.my_control{
	border-radius:0;
	border:1ps solid #343434;
}
label{
	font-size:14px;
	margin:10px 0 0 0;
}
.form_head{
	color:#636363;
	font-size:14px;
	margin:20px 0 20px 0;

	
}

.checkbox_style{
	float:left;	
	height:15px;
    width: 15px;
 	
}
.checkbox_text{
	padding:2px 0 0 25px;
}
.submit_btn{
	border-radius:0;
	border:none;
	background:#158AB4;
	margin:20px 0 0 10px;
	width:100px;
	height:40px;
}
.footer_part{
	background:#323232;
	padding:10px 0 0 0;
	}
     .copy_text{
			font-size:16px;
			color:#fff;
			margin:10px 0 10px 0;
			text-align:left!important;
			}
 .footer_icon{
	 color:#fff;
	 font-size:30px;
	 margin:0 0 20px 25px;
	 cursor:pointer;
	 }
  .footer_icon:hover{
	  color:#0AD1C5;
	  }
  .footer_icon_facebook{
	  color:#fff;
	  font-size:30px;
	 margin:0 0 20px 25px;
	  cursor:pointer;
	  }
  .footer_icon_facebook:hover{
	  color:#3E71AC;
	  }
  .footer_icon_in{
	  color:#fff;
	font-size:30px;
	 margin:0 0 20px 25px;
	  cursor:pointer;
	  }
    .footer_icon_in:hover{
		color:#0177b5;
		}
  .modal_part

  {	font-family:'lato_font';
	font-size:22px;
	color:#767676;
	margin:10px 0 10px 0;
	text-align:center!important;
  }  
  .modal_part_1{
	 font-family:'lato_font';
	font-size:22px;
	color:#15A7E2;
	margin:10px 0 10px 0;
	text-align:center!important; 
  }

/*=====================media query=========================*/
@media screen and (min-width:100px) and (max-width:480px){
	 .logo_style{width:120px;
	 height:40px;}
        .logo_text{font-size:6px;font-weight:bold;color:#5F5F5F;margin:10px 0 10px 5px;}
        .phone_icon{width:20px;margin:20px 10px 30px 20px;}
        .support_para1{font-size:11px;color:#787878;margin:0 0 0 0;}
        .support_para{font-size:11px;color:#5F5F5F;margin:20px 0 0 10px;}
	
	
.blue_line{
	background:#03B4DB;
	height:8px;
	margin:10px 0 0 0;
}
.white_part{
	background:#fff;
	min-height:300px;
	padding:10px 10px 20px 20px;
	
}
.submit_head{
	color:#323232;
	font-weight:bold;
	font-size:15px;
}
.request_head{
	color:#252525;
	font-family:'para_font';
	font-size:20px;
}
.how_para{
	color:#7D7D7D;
	font-family:'para_font';
	font-size:20px;
	margin:-10px 0 10px 0;
}
.thank_para{
	color:#3A3A3A;
	font-size:13px;
	margin:10px 0 20px 0;
}

.one_form_part{
	padding:0 0 0 10px;
}
/*===================form part==========*/
	
	
	/*===================form part==========*/
.your_details_head{
	color:#323232;
	font-family:'para_font';
	font-size:20px;
	margin:10px 0 0 70px;
	

	
}

.circle_part{
	border-radius:50px;
	border:1px solid #7BB418;
	width:50px;
	height:50px;
	position:relative;
	float:left;
	margin:0 0 0 0;
}
.number_para{
	color:#3A3A3A;
	font-size:25px;
	margin:10px 0 20px 0;
	position:absolute;
	left:30%;
	float:left;
}
hr{
	height:1px;
	background:#7BB418;
	margin:0;
}
.my_control{
	border-radius:0;
	border:1ps solid #343434;
}
label{
	font-size:14px;
	margin:10px 0 0 0;
}
.form_head{
	color:#636363;
	font-size:14px;
	margin:10px 0 20px 0;

	
}

.checkbox_style{
	float:left;	
	height:15px;
    width: 15px;
 	
}
.checkbox_text{
	padding:2px 0 0 25px;
}
.submit_btn{
	border-radius:0;
	border:none;
	background:#158AB4;
	margin:20px 0 0 10px;
	width:100px;
	height:40px;
}

.footer_icon{color:#fff;font-size:30px;margin:20px 0 20px 5px;cursor:pointer;}
        .footer_icon:hover{color:#0AD1C5;}
        .footer_icon_facebook{color:#fff;font-size:30px;margin:20px 0 20px 5px;cursor:pointer;}
        .footer_icon_facebook:hover{color:#3E71AC;}
        .footer_icon_in{color:#fff;font-size:30px;margin:20px 0 20px 5px;cursor:pointer;}
        .footer_icon_in:hover{color:#0177b5;}
		
		 .copy_text{
			font-size:13px;
			color:#fff;
			margin:10px 0 10px 0;
			text-align:left!important;
			}
 }












